
<ul>
    <li class="nav1">@Html.ActionLink("Home", "index", "home")</li>
    <li class="nav2">@Html.ActionLink("Über Uns", "ÜberUns", "home")</li>
    <li class="nav2">@Html.ActionLink("Impressum", "impressum", "home")</li>

    <li class="nav1">@Html.ActionLink("Campingplatz", "Infos", "CampingPlatz")</li>
    <li class="nav2">@Html.ActionLink("Bilder", "Bilder", "CampingPlatz")</li>
    <li class="nav2">@Html.ActionLink("Preise", "Preise", "CampingPlatz")</li>

    <li class="nav1">@Html.ActionLink("Reservierung", "Anfragen", "Reservierung")</li>

    <li class="nav1">@Html.ActionLink("Login", "Login", "benutzerverwaltung")</li>
    <li class="nav1">@Html.ActionLink("Registirerung", "Registrierung", "benutzerverwaltung")</li>

    <li class="nav1">@Html.ActionLink("Reservierungsanfragen", "Reservierungsanfragen", "admin")</li>
    <li class="nav1">@Html.ActionLink("registrierter Benutzer", "registrierterBenutzer", "admin")</li>
</ul>

